.sidebar {
    width: 20%;
}
.main {
    width: 80%;
}
.container{
    display: flex;
    flex-direction: row;
}
header{
    text-align: center;

}
.active{
    color: red;
    font-weight: bold;
    font-size: 18px;
}
